*.snakemake*
*datasets*
tests/pseudo_mapping/
tests/qc/
tests/raw_data/
tests/logs/
tests/aggregated_salmon_counts/
tests/report.html
tests/*.png
tests/*.html
tests/*.stats*
tests/salmon_index/
*/__pycache__/*
*.pytest_cache*
logs/*
