*.snakemake*
*datasets*
*pseudo_mapping/
*qc/
tests/raw_data/
tests/logs/
tests/aggregated_salmon_counts/
tests/report.html
tests/*.png
tests/*.html
tests/*.stats*
tests/salmon_index/
*/__pycache__/*
*.pytest_cache*
logs/*
tests/design.tsv
tests/config.yaml
.eggs/
build/
dist/
*.egg*
tests/snakemake
tests/tests
*raw_data
